.about {
  display: grid;
  grid-template-columns: 2.1875rem repeat(11, 1fr 25px) 1fr 2.1875rem;
  grid-template-rows: 0 auto;
  margin-bottom: 10%;
  &__Img {
    display: grid;
    grid-column: 2/25;
    grid-row: 1/3;
    grid-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
      figure {
        width: 33.125rem;
        grid-column: 5/span 4;
        z-index: 2;
      }
    }
  &__Text {
    display: grid;
    grid-column: 2/25;
    grid-row: 1/3;
    grid-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    
    > div {
      font-size: 4.5rem;
      line-height: 1;
      width: 40rem;
      grid-column: 5/span 4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      h2 {
        grid-column: 4/5;
        grid-row: 1/4;
        z-index: 3
        ;
      }
      .descWrap {
        grid-column: 1/5;
        grid-row: 3/4;
        h3 {
          white-space: nowrap;
          text-align: center;
          &:last-child {
            position: relative;
            z-index: 3;
          }
        }
      }
    }
  }
}

.introduce {
  .text {
    width: 60%;
    & + .text {
      margin-top: 10rem;
    }
    p {
      font-family: 'Pretendard-Regular', sans-serif;
      word-break: keep-all;
      font-size: 1.2rem;
      line-height: 1.53;
    }
  }
}

.career {
  margin: 10rem auto;
  position: relative;
  height: 100vh;
  &__carouselWrap {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    opacity: .1;
    animation: toLeft 60s linear infinite;
    z-index: 1;
  }
  &__carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    gap: 5rem;
    &-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 5rem;
      img {
        overflow-clip-margin: content-box;
        overflow: clip;
      }
    }
  }
  &__listWrap {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  &__list {
    width: 60%;
    > ul > li > button svg {
      margin-right: 2.6rem;
      transition: .5s ease-in-out;
    }
    > ul > li:hover button svg {
      transform: rotate(180deg);
    }
    li {
      overflow: hidden;
      button {
        text-align: left;
      }
      button, a {
        width: 100%;
        font-family: 'Pretendard-Regular', sans-serif;
        display: flex;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: 400;
        border-bottom: 1px solid hsla(0,0%,100%,.125);
      }
      ul {
        transition: .3s ease;
        li {
          a {
            font-size: 1rem;
            padding: 2rem 2rem 2rem 7rem;
            svg {
              transition: .3s ease-in-out;
            }
            &:hover svg {
              -webkit-transform: translate3d(4px,-4px,0);
              transform: translate3d(4px,-4px,0);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__Img {
      display: block;
      figure {
        width: 95%;
        margin: auto;
      }
    }
    &__Text {
      display: block;
      grid-column: 2/25;
      grid-row: 1/3;
      grid-column-gap: 25px;
      -moz-column-gap: 25px;
      column-gap: 25px;
      grid-template-columns: repeat(12, 1fr);
      
      > div {
        display: grid;
        width: 100%;
        grid-template-rows: repeat(5, 1fr);
        h2 {
          grid-column: 1/5;
          grid-row: 1/5;
        }
        .descWrap {
          grid-column: 1/5;
          grid-row: 4/5;
          h3 {
            font-size: 3.2rem;
          }
        }
      }
    }
  }

  .introduce {
    .text {
      width: 90%;
    }
  }

  .career {
    &__list {
      width: 90%;
      li {
        button, a {
          padding: 1.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}

@keyframes toLeft {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
  }
}