section {
  max-width: 100vw;
}
.intro {
  font-family: 'Gallient', sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 80rem;
  h2 {
    font-size: 12vw;
  }
  p {
    font-size: 1.6rem;
    font-family: 'Pretendard-Regular', 'sans-serif';
  }
}

.works {
  font-family: 'Gallient', sans-serif;
  font-weight: 400;
  margin-top: 10rem;
  .anchors {
    z-index: 110;
  }
  .anchors.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .anchors__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 2.4em;
    li {
      cursor: pointer;
      h4 {
        font-size: 1rem;
      }
    }
  }
  .projects {
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    &__Item {
      position: relative;
      height: 100vh;
      &.fixed {
        a {
          position: fixed;
          top: 0;
          left: 0;
        }
      }
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      a.hide {
        transform: translateY(-100vh);
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
      }
      a > * {
        position: relative;
        width: 50%;
        height: 100%;
        overflow: hidden;
      }
      .top {
        display: flex;
        position: absolute;
        top: 4vh;
        left: 0;
        white-space: nowrap;
        transform-origin: 0%;
        z-index: 10;
        h2 {
          font-size: 13rem;
          text-transform: uppercase;
        }
      }
      .imgContent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        > * {
          position: absolute;
        }
        figure {
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 100%;
            width: auto;
          }
        }
        .top {
          color: #191917;
        }
      .bottom {
        h3:first-child {
          margin-bottom: .5rem;
        }
        padding: 12vw 16vw;
        z-index: 2;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1;
        }
      }
      .textContent {
        padding: 0 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191917;
        .top {
          margin-left: -100%;
        }
        .bottom {
          font-family: 'pretendard', sans-serif;
          font-size: 1.6rem;
          line-height: 1.6;
          word-break: keep-all;
        }
      }
      &:nth-child(5),
      &:nth-child(6) {
        .imgContent {
          color: #191917;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .intro {
    p {
      font-size: 1.2rem;
    }
  }
  .works {
    margin-top: 8vh;
    .anchors {
      display: none;
    }
    .projects {
      &__Item {
        a  {
        flex-direction: column;
        }
        a > * {
        width: 100%;
        }
        .top {
          h2 {
            font-size: 5rem;
          }
        }
        .imgContent {
          .top {
            display: none;
          }
        }
        .textContent {
          padding: 3rem 1rem;
          flex-direction: column;
          .top {
            position: static;
            height: auto;
            margin-left: 0;
            white-space: normal;
            h2 {
              font-size: 4rem;
            }
            h2:not(:first-child) {
              display: none;
            }
          }
          .bottom {
            p {
              font-size: 1.15rem;
            }
          }
        }
      }
    }
  }
}
